.Content {
    display: flex;
    flex: 2;
    justify-content: center;
    background-color: rgb(35, 39, 42);
    color: white;
    padding: 30px;
}

h1{
    text-align: center;
}

span {
    text-decoration: underline;
}

p{
    text-align: justify;
}