.Menu {
    display: flex;
    flex-basis: 250px;
    background-color: rgb(223, 223, 223);
}

.Menu nav {
    flex: 1;
}

.Menu ul {
    list-style: none;
    padding: 0;
}

.Menu li {
    display: flex;
}

.Menu li a {
    flex: 1;
    padding: 10px;
    margin-bottom: 15px;
    text-shadow:2px 2.5px #00000052;
    text-decoration: underline overline;
    color: #000000;
    font-size: 1.5rem;
}

.Menu li a:hover {
    background-color: #2177ac;
}