#conteudo{
    width:950px;
    height:100px;
    background:#f8f8f8;
    margin:15px auto;
    }
   
    .artigo{
    width:900px;
    margin:5px 8px;
    float:center;
    }

    .artigo p{
        padding-top:15px;
        font-size: 17px;
        text-align:justify;
        color: black;
        }